{% extends 'base.html' %}
{% block content %}
<h1>About Us</h1>
<h3>Company History</h3>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Possimus expedita delectus porro adipisci dolorem itaque labore laborum aliquid unde quae ex,
    aperiam laboriosam similique eum mollitia debitis odio dignissimos quod.
</p>
<h3>What We Do</h3>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Possimus expedita delectus porro adipisci dolorem itaque labore laborum aliquid unde quae ex,
    aperiam laboriosam similique eum mollitia debitis odio dignissimos quod.
</p>

{% endblock %}