{% extends 'base.html' %}
{% block content %}

<h1>About Us</h1>
<div>
    <h3>Company History</h3>
    <p>
        BusyB came to be in 2022 from the collective minds of some CodeInstitute allumni.
        The idea was to give a platfrom to companies looking to show off all their great work towards sustainability.
    </p>
    <h3>What We Do</h3>
    <p>
        We provide a platform for enviromentally focused companies to share what they have in place to reduce their carbon footprint.
        We hope this will encourage as many companies as possible to up their game when it comes to their enviromental impact on the world.
        Register your company with us and you will be added to our interactive map and display proudly your efforts in making the world a better place.
    </p>
</div>
<div>
    {% load static %}
    <h3>Badges</h3>
    <img src="{% static 'images/bicycle-friendly.jpg' %}" alt="Bicycle friendly badge">
    <img src="{% static 'images/cloud-storage.jpg' %}" alt="Cloud storage badge">
    <img src="{% static 'images/community-events.jpg' %}" alt="Community events badge">
    <img src="{% static 'images/ev-chargers.jpg' %}" alt="EV chargers badge">
    <img src="{% static 'images/green-spaces.jpg' %}" alt="Green spaces badge">
    <img src="{% static 'images/grey-water.jpg' %}" alt="Grey water badge">
    <img src="{% static 'images/recycling.jpg' %}" alt="Recycling badge">
    <img src="{% static 'images/renewable-energy.jpg' %}" alt="Renewable energy badge">
    <img src="{% static 'images/sustainable-materials.jpg' %}" alt="Sustainable materials badge">
    <img src="{% static 'images/zero-plastic.jpg' %}" alt="Zero plastic badge">
</div>
<div>
    <h3>Current Companies</h3>
    <h4>Megs Bakery</h4>

    <h4>Money Bank</h4>

    <h4>Toot Toot Delivery Company</h4>
</div>

{% endblock %}