{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <h1 class="page-heading yellow-title">Contact Us</h1>
    <div class="contact-image-container">
        <img src="{% static 'images/eco-lineart.png' %}" alt="artwork" class="contact-image">
    </div>
    <section class="box">
        <div class="form">
            <p>
                If you would like for your company to be added to our site, please fill in our form below with some basic information.
                We will get back in touch and get all the relevant information from you.
            </p>
            
            <form method="POST" class="form-box" action="/">
                <div class="form-content">
                    <div class="form-labels">
                        <label for="company-name">Company Name:</label><br>
                        <label for="company-email">Company Email:</label><br>
                        <label for="company-phone">Company Phone Number:</label><br>
                    </div>
                    <div class="form-input">
                        <input type="text" id="company-name" name="company-name" required><br>
                        <input type="email" id="company-email" name="company-email" required><br>
                        <input type="tel" id="company-phone" name="company-phone" required><br>
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>


        </div>
    </section>
</div>



{% endblock %}