{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <meta http-equiv="refresh" content="10; url='/'">
</head>
<div class="container">
    <h1 class="page-heading yellow-title">Contact Us</h1>
    <div class="contact-image-container">
    <img src="{% static 'images/eco-lineart.png' %}" alt="artwork" class="contact-image" aria-label="Eco city artwork">
    </div>
    <h2 class="yellow-title text-center">THANK YOU!</h2>
    <p class="text-center">
        We will be in touch shortly.
    </p>
    <p class="text-center">
        You will be automatically redirected to the main page in 10 seconds.<br>
    </p>

    <p class="text-center">
        If this does not work, please click the link below.
    </p>
    <p class="text-center">
        <a href="/"  aria-label="Redirect link">Return to main page</a>
    </p>
</div>



{% endblock %}