<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Team6" />
    <meta name="description" content="TODO: Add description" />
    <meta name="keywords" content="TODO: add keywords" />
    <!-- Mapbox CDN -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div>
        {% include "navbar.html" %}
    </div>
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div>
            {% include "footer.html"%}
        </div>
    </footer>
</body>
<script src="{% static 'js/scripts.js' %}"></script>
</html>